<a href="https://colab.research.google.com/github/thobranifurqon/FA_BigData/blob/master/PySpark_VisualisasiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Instalasi Spark pada Google Colab

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.6.tgz
!tar xf spark-2.4.6-bin-hadoop2.6.tgz
!pip install -q findspark

In [ ]:
import os
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.6"

Import library Spark yang sudah diinstal

In [ ]:
import findspark
findspark.init("spark-2.4.6-bin-hadoop2.6")
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import col, avg

Inisialisasi SparkContext dan SparkSession

In [ ]:
sc = spark.sparkContext
spark = SparkSession(sc)

Load Data_Set

In [7]:
avocado_df = spark.read.csv("/content/sample_data/avocado.csv", header=True, inferSchema=True)
avocado_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- AveragePrice: double (nullable = true)
 |-- Total Volume: double (nullable = true)
 |-- 4046: double (nullable = true)
 |-- 4225: double (nullable = true)
 |-- 4770: double (nullable = true)
 |-- Total Bags: double (nullable = true)
 |-- Small Bags: double (nullable = true)
 |-- Large Bags: double (nullable = true)
 |-- XLarge Bags: double (nullable = true)
 |-- type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- region: string (nullable = true)

Proses Visualisasi Data

In [40]:
avocado_df = pd.read_csv('/content/sample_data/avocado.csv')

In [41]:
avocado_df

      Unnamed: 0        Date  ...    year            region
0              0  2015-12-27  ...  2015.0            Albany
1              1  2015-12-20  ...  2015.0            Albany
2              2  2015-12-13  ...  2015.0            Albany
3              3  2015-12-06  ...  2015.0            Albany
4              4  2015-11-29  ...  2015.0            Albany
...          ...         ...  ...     ...               ...
8801          11  2018-01-07  ...  2018.0         Nashville
8802           0  2018-03-25  ...  2018.0  NewOrleansMobile
8803           1  2018-03-18  ...  2018.0  NewOrleansMobile
8804           2  2018-03-11  ...  2018.0  NewOrleansMobile
8805           3  2018-03-04  ...     NaN               NaN

[8806 rows x 14 columns]

In [49]:
import matplotlib.pyplot as plt
import numpy as np


x_AveragePrice = [1.33, 1.35, 0.93, 1.08, 1.28, 0.85, 1.04, 1.02, 1.05, 1.03]
y = range[15]

plt.bar(y, x_AveragePrice, label = 'AveragePrice')
plt.xlabel('Day')
plt.ylabel('AveragePrice')
plt.legend(loc = 'upper right')
plt.grid(True, linewidth = 1, linestyle = '-.')
plt.title('AveragePrice Of Avocado')
plt.show()

TypeError: ignored