<a href="https://colab.research.google.com/github/thobranifurqon/FA_BigData/blob/master/PySpark_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalasi Spark pada Google Colab

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.6.tgz
!tar xf spark-2.4.6-bin-hadoop2.6.tgz
!pip install -q findspark

In [ ]:
import os
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.6"

Import library Spark yang sudah diinstal

In [ ]:
import findspark
findspark.init("spark-2.4.6-bin-hadoop2.6")
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import col, avg



Inisialisasi SparkContext dan SparkSession

In [ ]:
sc = spark.sparkContext
spark = SparkSession(sc)

Load Data_Set

In [8]:
avocado_df = spark.read.csv("/content/sample_data/avocado.csv", header=True, inferSchema=True)
avocado_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- AveragePrice: double (nullable = true)
 |-- Total Volume: double (nullable = true)
 |-- 4046: double (nullable = true)
 |-- 4225: double (nullable = true)
 |-- 4770: double (nullable = true)
 |-- Total Bags: double (nullable = true)
 |-- Small Bags: double (nullable = true)
 |-- Large Bags: double (nullable = true)
 |-- XLarge Bags: double (nullable = true)
 |-- type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- region: string (nullable = true)

In [9]:
avocado_df.show(15)

+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|_c0|               Date|AveragePrice|Total Volume|   4046|     4225|  4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27 00:00:00|        1.33|    64236.62|1036.74| 54454.85| 48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20 00:00:00|        1.35|    54876.98| 674.28| 44638.81| 58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13 00:00:00|        0.93|   118220.22|  794.7|109149.67| 130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06 00:00:00|        1.08|    78992.15| 1132.0| 71976.41| 72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29 00:00:00|        1.28|     51039.6| 941.48| 43838.39| 75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22 00:00:00|        1.26|    55979.78|1184.27| 48067.99| 43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15 00:00:00|        0.99|    83453.76|1368.92| 73672.72| 93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08 00:00:00|        0.98|   109428.33| 703.75|101815.36|  80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01 00:00:00|        1.02|    99811.42|1022.15| 87315.57| 85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25 00:00:00|        1.07|    74338.76|  842.4| 64757.44| 113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
| 10|2015-10-18 00:00:00|        1.12|    84843.44| 924.86| 75595.85|117.07|   8205.66|   7877.86|     327.8|        0.0|conventional|2015|Albany|
| 11|2015-10-11 00:00:00|        1.28|    64489.17|1582.03| 52677.92|105.32|   10123.9|   9866.27|    257.63|        0.0|conventional|2015|Albany|
| 12|2015-10-04 00:00:00|        1.31|     61007.1|2268.32| 49880.67|101.36|   8756.75|   8379.98|    376.77|        0.0|conventional|2015|Albany|
| 13|2015-09-27 00:00:00|        0.99|   106803.39|1204.88| 99409.21|154.84|   6034.46|   5888.87|    145.59|        0.0|conventional|2015|Albany|
| 14|2015-09-20 00:00:00|        1.33|    69759.01|1028.03| 59313.12| 150.5|   9267.36|    8489.1|    778.26|        0.0|conventional|2015|Albany|
+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
only showing top 15 rows

Pemrosesan Data

In [12]:
#filter kolom AveragePrice yang nilainya 1 
avocado_AveragePrice = avocado_df.filter(avocado_df.AveragePrice == 1)
#jumlah total averageprice
print("jumlah AveragePrice:", avocado_AveragePrice.count())
#perhitungan rata-rata AveragePrice Avocado berdasarkan year dan region
avocado_AveragePrice.groupby("region").avg("year").show()

jumlah AveragePrice: 167
+-----------------+------------------+
|           region|         avg(year)|
+-----------------+------------------+
|    PhoenixTucson|            2016.0|
|    SouthCarolina|            2015.8|
|          TotalUS|            2015.2|
| WestTexNewMexico|            2016.0|
|       Louisville|            2016.0|
|       Sacramento|2015.3333333333333|
|    DallasFtWorth|            2016.2|
|     Indianapolis|            2017.0|
|        Nashville|            2016.0|
|         LasVegas|            2016.0|
|       GreatLakes|2015.3333333333333|
|          Detroit| 2015.857142857143|
|         Portland|            2016.0|
| CincinnatiDayton|            2017.0|
|         SanDiego|            2017.0|
|            Boise|           2015.75|
|          StLouis|           2016.25|
| NewOrleansMobile|            2015.0|
|         Columbus|            2015.5|
|MiamiFtLauderdale|            2016.0|
+-----------------+------------------+
only showing top 20 rows

Pemrosesan Menggunakan SparkSQL

In [15]:
avocado_df.createOrReplaceTempView("avocado_sql")

result = spark.sql("SELECT * FROM avocado_sql WHERE AveragePrice = 1 LIMIT 15")
result.show()

+---+-------------------+------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+---------+
|_c0|               Date|AveragePrice|Total Volume|     4046|     4225|     4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|   region|
+---+-------------------+------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+---------+
|  5|2015-11-22 00:00:00|         1.0|   356414.57|269799.03|  29732.3|   501.16|  56382.08|   36992.3|  19389.78|        0.0|conventional|2015|  Atlanta|
| 34|2015-05-03 00:00:00|         1.0|    634213.1|538403.48| 28568.26|  1059.73|  66181.63|  32520.82|  33660.81|        0.0|conventional|2015|  Atlanta|
| 40|2015-03-22 00:00:00|         1.0|   479590.62|393591.03|  23419.6|   304.89|   62275.1|  40495.12|  21766.54|      13.44|conventional|2015|  Atlanta|
| 51|2015-01-04 00:00:00|         1.0|   435021.49|364302.39| 23821.16|    82.15|  46815.79|  16707.15|  30108.64|        0.0|conventional|2015|  Atlanta|
| 34|2015-05-03 00:00:00|         1.0|    85466.99| 66880.12|  7942.34|  4289.72|   6354.81|   6349.93|       0.0|       4.88|conventional|2015|    Boise|
| 41|2015-03-15 00:00:00|         1.0|    65918.28| 51472.29|  7018.29|   2981.8|    4445.9|    4445.9|       0.0|        0.0|conventional|2015|    Boise|
|  5|2015-11-22 00:00:00|         1.0|   133618.33| 30028.69| 53644.97| 24221.58|  25723.09|  22228.47|   3494.62|        0.0|conventional|2015|Charlotte|
| 34|2015-05-03 00:00:00|         1.0|    261492.2| 50203.31| 69446.61| 77627.49|  64214.79|  58626.28|   5588.51|        0.0|conventional|2015|Charlotte|
|  8|2015-11-01 00:00:00|         1.0|   807041.46| 69420.04|562214.56|106536.92|  68869.94|  68447.93|    422.01|        0.0|conventional|2015|  Chicago|
| 14|2015-09-20 00:00:00|         1.0|   165068.86|  86031.9| 31599.19| 26200.37|   21237.4|  12029.73|   4671.88|    4535.79|conventional|2015| Columbus|
| 20|2015-08-09 00:00:00|         1.0|    167387.9| 64121.12| 52440.39| 20857.42|  29968.97|   20668.0|   7460.64|    1840.33|conventional|2015| Columbus|
| 32|2015-05-17 00:00:00|         1.0|   180511.78| 97341.26| 38624.07| 22934.89|  21611.56|  15997.43|   2463.86|    3150.27|conventional|2015| Columbus|
| 36|2015-04-19 00:00:00|         1.0|   172913.44| 80303.92| 40370.03| 26369.27|  25870.22|   20819.2|   1861.68|    3189.34|conventional|2015| Columbus|
| 44|2015-02-22 00:00:00|         1.0|    899302.8|153410.25|584093.63|  5686.33| 156112.59|  62564.22|  93534.16|      14.21|conventional|2015|   Denver|
| 14|2015-09-20 00:00:00|         1.0|   373545.23|129945.11| 71335.62|111298.27|  60966.23|  38180.88|    839.26|   21946.09|conventional|2015|  Detroit|
+---+-------------------+------------+------------+---------+---------+---------+----------+----------+----------+-----------+------------+----+---------+

In [16]:
spark.stop()